@import '../abstract/variaveis';

.introducao{
    padding: 1rem 1rem;
    background-color: $cor-de-fundo-gelo;
    height: 260px;
    .introducao__img{
        width: 6.125rem;
        height: 6.125rem;
    }

    .introducao__titulo{
        @include padrao-h2;
        margin-top: 1rem;
    }

    .introducao__descricao{
        padding: 1rem 0;
        // line-height: 1.2rem;
    }

    .lista-redes-sociais{
        display: flex;
        justify-content: space-evenly;
        
        
        .item-lista-redes-sociais {

            .link-lista-redes-sociais{
                font-size: $texto-padrao;
                text-decoration: none;
                font-weight: $peso-link;
                color: $cor-link;
                cursor: pointer;

                .github{
                    &::before{
                        content: url(../../../assets/img/icon/github.png);
                    }
                }
    
                &::after{
                content: url(../../../assets/img/icon/Vector.svg);
                margin-left: 0.3rem;
                }
                
                &:active{
                    color: $cor-link;
                }
    
            }
            
        }
    }
}

@media screen and (min-width: 768px) {

    .introducao{
        padding: 1rem 2rem 3rem;
        height: 150px;

        .introducao__img{
            float: right;
            width: 10rem;
            height: 10rem;
            padding: 1rem 2rem;
        }
    }
}

@media screen and (min-width: 1440px) {

    .introducao{
        padding: 2rem 9.5rem 4rem;
        height: 230px;
        
        .introducao__titulo{
            font-size: 3.25rem;
        }

        .introducao__descricao{
            font-size: 1.375rem;
        }

        .introducao__img{
            float: right;
            width: 15rem;
            height: 15rem;
            padding: 1rem 2rem;
        }
    }
}