
// fontes

$fonte: 'Raleway', sans-serif;

//tamanhos fontes

//titulo
$titulo-nome: 1.5rem;
$titulo: 1.7rem;

//texto

$texto-padrao: 1rem;

// pesos

$peso-titulo: 700;
$peso-link: 600;

//cor

$cor-link: black;
$cor-de-fundo-azul:  #EAF2FD;
$cor-de-fundo-gelo: #fffafa;